.search-box{
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  .form-input {
    width: 240px;
  }
}
.box-table{
  margin-top: 16px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  .button-del {
    color: #F20000;
  }
}
